<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.victor.board.common.board.dao.BoardDao">
	<resultMap type="com.victor.board.common.board.dto.BoardDto" id="BoardResultMap">
		<result column="BOARD_SEQ" 		jdbcType="INTEGER" property="boardSeq"/>
		<result column="USER_ID" 		jdbcType="VARCHAR" property="userId"/>
		<result column="BOARD_TITLE" 	jdbcType="VARCHAR" property="boardTitle"/>
		<result column="BOARD_VIEWS" 	jdbcType="INTEGER" property="boardViews"/>
		<result column="BOARD_CONTENTS" jdbcType="VARCHAR" property="boardContents"/>
		<result column="BOARD_REG_DATE" jdbcType="VARCHAR" property="boardRegDate"/>
		
		<result column="COM_DETAIL"		jdbcType="VARCHAR" property="comDetail"/>
		<result column="COM_REGI_DATE"	jdbcType="VARCHAR" property="comRegDate"/>
	</resultMap>
	
	<resultMap type="com.victor.board.common.board.dto.FileDto" id="FileResultMap">
		<result column="FILE_NAME" 	jdbcType="VARCHAR" property="fileName"/>
		<result column="FILE_EXT" 	jdbcType="INTEGER" property="fileExt"/>
		<result column="FILE_SIZE" 	jdbcType="VARCHAR" property="fileSize"/>
	</resultMap>

	<select id="selectBoard" parameterType="com.victor.board.common.board.dto.BoardDto" resultMap="BoardResultMap">
		SELECT * 
		FROM BOARD
		ORDER BY BOARD_SEQ DESC
	</select>
	
	<select id="selectBoardDetail" parameterType="com.victor.board.common.board.dto.BoardDto" resultMap="BoardResultMap">
		SELECT *
		FROM BOARD B
		<where>
			B.BOARD_SEQ = #{boardSeq}
		</where>
	</select>
	
	<insert id="insertBoard" parameterType="com.victor.board.common.board.dto.BoardDto">
		INSERT INTO BOARD
			(
				USER_ID,
				BOARD_TITLE,
				BOARD_VIEWS,
				BOARD_CONTENTS,
				BOARD_REG_DATE
			)
		VALUES
			(
				#{userId},
				#{boardTitle},
				0,
				#{boardContents},
				DATE(NOW())
			)
	</insert>
	
	<update id="updateBoard" parameterType="com.victor.board.common.board.dto.BoardDto">
		UPDATE BOARD
		
		<set>
			<if test="boardTitle != null">
				BOARD_TITLE = #{boardTitle},
			</if>
			<if test="boardContents != null">
				BOARD_CONTENTS = #{boardContents},
			</if>
		</set>
		
		<where>
			BOARD_SEQ = #{boardSeq},
			USER_ID = #{userId}
		</where>
	</update>
	
	<update id="updateViews" parameterType="com.victor.board.common.board.dto.BoardDto">
			UPDATE BOARD
			<set>
				BOARD_VIEWS = BOARD_VIEWS + 1
			</set>
			<where>
				BOARD_SEQ = #{boardSeq}
			</where>
	</update>
	
	<delete id="deleteBoard" parameterType="com.victor.board.common.board.dto.BoardDto">
		DELETE FROM BOARD
		
		<where>
			BOARD_SEQ = #{boardSeq},
			USER_ID = #{userId}
		</where>
	</delete>
	
	<select id="selectComment" parameterType="com.victor.board.common.board.dto.BoardDto" resultMap="BoardResultMap">
		SELECT *
		FROM COMMENT
		WHERE BOARD_SEQ = #{boardSeq}
	</select>
	
	<insert id="insertComment" parameterType="com.victor.board.common.board.dto.BoardDto">
		INSERT INTO COMMENT
			(
				BOARD_SEQ,
				USER_ID,
				COM_DETAIL,
				COM_REGI_DATE
			)
		VALUES
			(
				#{boardSeq},
				#{userId},
				#{comDetail},
				DATE(NOW())
			)
	</insert>
	
	<update id="updateComment" parameterType="com.victor.board.common.board.dto.BoardDto">
		UPDATE COMMENT
		
		<set>
			<if test="comDetail != null">
				COM_DETAIL = #{comDetail},
			</if>
		</set>
		
		<where>
			BOARD_SEQ = #{boardSeq},
			USER_ID = #{userId}
		</where>
	</update>
	
	<delete id="deleteComment">
		DELETE FROM COMMENT
		
		<where>
			BOARD_SEQ = #{boardSeq},
			USER_ID = #{userId}
		</where>
	</delete>
	
	<!-- uploadFile  downloadFile -->
</mapper>